/Super Simple RSS.xcodeproj/project.xcworkspace/xcuserdata
/Podfile.lock
/Pods
/Super Simple RSS.xcworkspace/xcuserdata/geof.xcuserdatad/UserInterfaceState.xcuserstate
/Super Simple RSS.xcworkspace/xcuserdata
/_archives
/Super Simple RSS.xcodeproj/xcshareddata
Super Simple RSS.xcodeproj/xcuserdata/*
